@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//   font-family: 'Roboto', sans-serif;

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0 50px;
}

.header{
    width: 100vw;
    height: 100px;
    background-color: rgb(117, 117, 254);

    .container{
        max-width: 1100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .header-logo{
            &__text{
                font-size: 50px;
                font-weight: 100;
                letter-spacing: 4px;
            }
        }
    }
}

.main{
    width: 100vw;
    padding-top: 20px;
    background-color: white;
    flex-grow: 1;

    .container{
        width: 1100px;
        margin: 0 auto;
        font-size: 25px;

        .list-of-task{
            display: flex;
            flex-direction: column;
            gap: 20px;
            // display: none;

            .name-of-task{
                // width: 500px;
                border: 1px solid grey;
                border-radius: 10px;
            }

            #change-score-of-task{
                padding: 10px;
                color: white;
                background-color: rgb(117, 117, 254);
                border-radius: 10px;
            }
        }

        .start-to-vote{
            margin-bottom: 40px;
            display: none;

            #text-of-answer{
                text-align: center;
                font-size: 25px;
                font-weight: 900;
            }

            .person{
                margin: 20px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;

                .person-color{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }

                .person-name{
                    min-width: 300px;
                }

                .choosing{
                    border: 2px solid black;
                    border-radius: 10px;
                }
                .person-comment-green,
                .person-comment-red,
                .person-comment-blue,
                .person-comment-orange,
                .person-comment-yellow
                {
                    width: 500px;
                    padding-left: 10px;
                    border: 1px solid grey;
                    border-radius: 10px;
                }
            }

            .btn-conf-choose{
                padding: 10px;
                color: white;
                background-color: rgb(117, 117, 254);
                border-radius: 10px;
            }
        }

        .lastEnter{
            display: none;
            font-size: 35px;

            .btn-next{
                padding: 10px;
                color: white;
                background-color: rgb(117, 117, 254);
                border-radius: 10px;
            }
        }

        .tryAgain{
            display: none;

            .person-comment{
                margin: 20px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                .person-color-again{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                }
            }

            .btn-try-again{
                padding: 10px;
                color: white;
                background-color: rgb(117, 117, 254);
                border-radius: 10px;
            }
        }
    }
}

.footer{
    width: 100vw;
    height: 100px;
    background-color: rgb(117, 117, 254);
}


.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: rgb(251, 251, 5);
}

table {
    border: 1px solid black;
    background-color: black;
}

tr {
    border: 1px solid black;
    border-color: white;
}

th {
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}

td {
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}
