@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//   font-family: 'Roboto', sans-serif;

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 50px;
}

.header {
    width: 100vw;
    height: 100px;
    background-color: rgb(117, 117, 254);

    .container {
        margin: 0 auto;
        width: 1000px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .header-logo {
            &__text {
                font-size: 50px;
                font-weight: 100;
                letter-spacing: 4px;
            }
        }

        .header-nav{
            display: flex;
            gap: 20px;

            a{
                color: black;
                font-size: 20px;
            }
        }
    }
}

.main {
    width: 100vw;
    padding-top: 20px;
    background-color: white;
    flex-grow: 1;

    .container {
        width: 1100px;
        margin: 0 auto;
        font-size: 25px;

        .list-of-task {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            table {
                // width: 90%;
            }

            input {
                padding: 5px;
                border: 1px solid grey;
                border-radius: 5px;
            }

            // display: none;

            .name-of-task {
                // width: 500px;
                border: 1px solid grey;
                border-radius: 10px;
            }

            .change-score-of-task {
                padding: 10px;
                color: white;
                background-color: rgb(117, 117, 254);
                border-radius: 10px;
            }
        }

        .input_data {
            margin: 15px auto;
            padding: 20px;
            width: 90%;
            height: 200px;
            border: 4px solid black;
            border-radius: 15px;

            .input_data__input {
                border-radius: 10px;
                border: 1px solid grey;
            }

            .input_data__span {}

            .btn-delete {
                margin-top: 10%;
                padding: 10px;
                color: white;
                background-color: rgb(202, 0, 0);
                border-radius: 10px;
            }
        }
    }
}

.footer {
    width: 100vw;
    height: 100px;
    background-color: rgb(117, 117, 254);
}

table {
    border: 1px solid black;
    background-color: black;
}

tr {
    border: 1px solid black;
    border-color: white;
}

th {
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}

td {
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}


// Users

.main{
    .list-of-users{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .input_data__user {
        margin: 15px auto;
        padding: 20px;
        width: 90%;
        height: 200px;
        border: 4px solid black;
        border-radius: 15px;

        .input_data__input__user {
            border-radius: 10px;
            border: 1px solid grey;
        }

        .input_data__span {}

        .btn-delete {
            margin-top: 10%;
            padding: 10px;
            color: white;
            background-color: rgb(202, 0, 0);
            border-radius: 10px;
        }
    }
}